enable-magisk-update = true # set this to false if you do not want to receive updates for the module in magisk app
parallel-jobs = 1

# add 'enabled = false' for not patching a specific app or remove it from the config
# see https://github.com/j-hc/revanced-magisk-module/blob/main/CONFIG.md for more detailed explanations

# you can use rvmm-config-gen to generate a config

[YouTube]
apkmirror-dlurl = "https://apkmirror.com/apk/google-inc/youtube/"
patches-source = "anddea/revanced-patches"
integrations-source = "anddea/revanced-integrations"
rv-brand = "anddea ReVanced"
build-mode = "module"
excluded-patches = "'Copy video URL' 'Downloads' 'Custom branding' 'Change header' 'Change form factor' 'Wide search bar' 'Spoof app version' 'Change start page' 'Theme' 'Alternative thumbnails' 'Announcements' 'Enable debugging' 'Spoof device dimensions' 'GmsCore support'"





